/*
vim: syntax=groovy
-*- mode: groovy;-*-
 * -------------------------------------------------
 *  Nextflow config file for AWS EC2 test set
 * -------------------------------------------------
 * Defines default lcoation of the test genome
 */

params {
  genome = 'amazon_test'
  genomes {
    'amazon_test' {
      fasta   = '/tmp/ngi-rna_test_set/genome.fa'
      gtf     = '/tmp/ngi-rna_test_set/genes.gtf'
      bed12   = '/tmp/ngi-rna_test_set/genes.bed'
      star    = '/tmp/ngi-rna_test_set/star/'
      hisat2  = '/tmp/ngi-rna_test_set/r64/'
    }
  }
}
