/*
vim: syntax=groovy
-*- mode: groovy;-*-
 * -------------------------------------------------
 *  Nextflow config file for AWS EC2 t2.large
 * -------------------------------------------------
 * Defines instance limits
 */

process {
  executor = 'local'
  cpus = 2
  memory = 7.GB
  time = 48.h
}

