/*
vim: syntax=groovy
-*- mode: groovy;-*-
 * -------------------------------------------------
 *  Nextflow config file for AWS EC2 t2.xlarge
 * -------------------------------------------------
 * Defines instance limits 
 */
process {
  cpus = 4
  memory = 15.GB
  time = 48.h
}
env.PICARD_HOME="$PICARD_HOME"
